
@{
    ViewData["Title"] = "CrowdFounding";
}

<div class="container">
	<div class="row">
		<div class="col">
			<div class="jumbotron" style="border-style: solid; border-color: blue">
				<div class="card card-disclaimer">
					<div class="card-body">
						<p>
							Everything contained in this document is in draft form and subject to change at any time and provided for information purposes only. We do not guarantee the accuracy of the information contained in this document and the information is provided “as is” with no representations or warranties, express or implied.
						</p>
					</div>
				</div>
				<h1>Crowd Founding SFEOS</h1>
				<p>
					From its inception, SFEOS is designed to become whatever the players desire it to become. We are starting with a very simple concept and expanding on it as we determine what is fun and what isn't. The goal is to have a self funding
					game that can continue to evolve well beyond our own lifespans.
				</p>
			</div>
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<h2>In the Beginning… Formless and Void </h2>
					<p>
						Before the crowd founding system is in place, the original founders will be working on the crowd founding system as well as aspects of the game. Some of these founders will be members of The Meritocracy. The Meritocracy starts
						with three main responsibilities. They are, 1) to purpose features/tasks; 2) come to a consensus estimate on tasks; 3) mentor new founders as they develop and create content.
					</p>
					<h2>Crowd Founding Platform </h2>
					<p>
						Once a working version of the crowd founding platform is in place we will open the doors for anyone to create proposals. The cost for creating a proposal is a minimum of 50 bitUSD locked into a pledge on that proposal. Others can
						add their own pledges to proposals to show their desire to have a specific proposal included in the game design. The roles of The Meritocracy will expand a bit. Along with their previous responsibilities, they will now determine
						the validity of the proposals, curate the proposal into units of work (tasks) and force rank the tasks into the backlog of work. If a proposal is determined to be overfunded after the tasks are estimated, the last received,
						over funded amount will be unlocked and refundable or reassignable by the pledgemaker(s).
					</p>
					<p>
						If there remains tasks that are underfunded, those tasks become open for funding at a first come, first serve basis. The tasks can be funded with locked pledges of bitUSD tokens. This funding process will allow non-developers and
						content creators the ability to earn founder tokens. These founder tokens will be created at a ratio of 1:1 per bitUSD funded.
					</p>
					<h4>Distribution of Founder Tokens on Funded Tasks </h4>
					<p>
						A fully funded task will distribute 90% founder tokens to the pledge maker(s) and 10% to the developers who complete the task. If a task is under funded, the developers who complete the work will receive a higher percent of founder
						tokens equal to the unfunded remainder of the total estimate and 10% of the funded amount. The pledge maker(s) will receive 90% of their pledged amount in founding tokens.
					</p>
					<h2>Game Version 1.0 (Self Funding Game)</h2>
					<p>
						When the game is ready for prime time (out of Beta testing) a pool of founder tokens will be created that will be equal to 50% of all founder tokens in existence at that time. These tokens will be distributed to members of The
						Meritocracy for the work they have done above and beyond the normal development and content creation.
					</p>
					<h4>Game Version 1.x and Beyond</h4>
					<p>
						When the game goes live in version 1.0 it will start creating SFEOS tokens. Of each token created, X% will be deposited into a budget pool. Shortly after version 1.0 the proposal system will change to allow the founder token holders
						to vote on how the pool is spent. At this point the system should be self funding and no longer need any external funding. New players who were not part of the initial creation of the game can become founders by converting
						some, or all of their earned SFEOS tokens and/or purchased tokens into founder tokens, thus allowing them to be a part of the ongoing development of the game.
					</p>
					<h2>In Summary </h2>
					<p>
						The early development will be controlled and done by a small group of dedicated folks working on unfunded tasks to get the ball rolling. After a bit, outside funding will enter the picture and the developers will begin to get paid
						for the work they are doing and pledge makers will be included in the group of founders. When the game is open to the public it should be a self funding distributed app (Dapp) fully owned and operated by all founder token holders.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
