
@{
    ViewData["Title"] = "Economy";
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron" style="border: solid; border-color: blue">
				<div class="card card-disclaimer">
					<div class="card-body">
						<p>
							Everything contained in this document is in draft form and subject to change at any time and provided for information purposes only. We do not guarantee the accuracy of the information contained in this document and the information is provided “as is” with no representations or warranties, express or implied.
						</p>
					</div>
				</div>
				<h1>The Economics of the Game</h1>
				<h4>A Completely Player Driven Economy with Cryptographic Assets on the Blockchain</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-xl-10 offset-xl-1">
			<h2>In-Game Currencies </h2>
			<p>There are two in-game currencies. </p>
		</div>
	</div>
	<div class="interface">
		<div class="row">
			<div class="col-xl-5 offset-xl-1">
				<div class="card">
					<div class="card-body">
						<h4>SFEOS </h4>
						<p>
							SFEOS is cryptocurrency both in-game and outside of the game. In the story of the game it is created by running nodes within the AI subsystems of each participating ship. SFEOS is also the form of payment you receive by completing
							some missions within the game.
						</p>
					</div>
				</div>
			</div>
			<div class="col-xl-5 offset-xl-0">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">FIAT </h4>
						<p>
							FIAT is the currency created, distributed, recognized and used by Merikos. It is created in the form of debt (not unlike our own fiat currencies). With the control of this currency, Merikos controls the lives of those who live
							in Merikos Space.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-10 offset-xl-1">
				<h2 style="margin-top: 20px">Real World EOS Tokens </h2>
				<p>There are currently X real world tokens associated to the the SFEOS game. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-5 offset-xl-1">
				<div class="card">
					<div class="card-body">
						<h4>SFEOS </h4>
						<p>
							SFEOS is a real world token within the EOS blockchain. It can be traded on participating exchanges. Each day of non-automated gameplay a small portion of the currency is created and available in your ship wallet. This is a
							very small amount. SFEOS is also created by completing in-game missions.
						</p>
						<p>SFEOS can be converted into SFEOS_FNDR tokens at a 1:1 ratio. </p>
					</div>
				</div>
			</div>
			<div class="col-xl-5">
				<div class="card">
					<div class="card-body">
						<h4>Resource Tokens (SFEOS_PortName_ResourceType) </h4>
						<p>
							Players can offload (ie convert) in-game resources at the ports (smart contracts) 
							so they can be traded in the real world. The resource tokens can be purchased and 
							held in your wallet. They cannot become in-game resources unless you convert them 
							back by visiting the specific port where they were created. In-game transporters 
							do not work across nodes in space.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-xl-5 offset-xl-1">
				<div class="card">
					<div class="card-body">
						<h4>SFEOS Meritocracy Token (SFEOS_MERIT) </h4>
						<p>
							These tokens are a membership token used by the group of developers and content creators who mentor others, curate proposals into tasks, and estimate costs of tasks. These are folks going above and beyond to make sure SFEOS
							is successful. Changing the distribution of SFEOS_MERIT tokens requires a vote of 70% of other token holders. (See “The Ongoing Crowd Founding of the Game” for more details on The Meritocracy). This pool of tokens will
							eventually be transferred into the 50% founder tokens.
						</p>
					</div>
				</div>
			</div>
			<div class="col-xl-5">
				<div class="card">
					<div class="card-body">
						<h4>SFEOS Founder Tokens (SFEOS_FNDR) </h4>
						<p>
							Founder token holders receive a portion of the game “fees” equal to their percentage of held coins. Founder token holders receive a discount on the Proposal Creation costs. Founder token holders vote on the use of the SFEOS
							budget (See “The Ongoing Crowd Founding of the Game” for more details).
						</p>
						<p>SFEOS_FNDR can be converted into SFEOS tokens at a 1:1 ratio, but the rate of conversion is limited to no more than 5% of the total they hold per week. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
