
@{
    ViewData["Title"] = "Game Play";
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron" style="border-style: solid; border-color: blue">
				<div class="card card-disclaimer">
					<div class="card-body">
						<p>
							Everything contained in this document is in draft form and subject to change at any time and provided for information purposes only. We do not guarantee the accuracy of the information contained in this document and the information is provided “as is” with no representations or warranties, express or implied.
						</p>
					</div>
				</div>
				<h1>Gameplay </h1>
				<h4>A Serious Game with Casual Gameplay</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-xl-10 offset-xl-1">
			<h4>Limited Daily Fuel for Actions </h4>
			<p>
				Each real time 24 hour period a player is allowed to take X number of actions depending on the stats of the player’s ship. Scanning surrounding nodes, costs an action. Traveling node(s), costs an action. Refining units of a resource
				type, costs an action. Creating units of a resource from a recipe (ie crafting), costs an action. Basically, almost everything you do in the game costs an action.Ports and Port FacilitiesBecause most ships, especially starting
				ships, are smaller than ports, they have less usable space. Ports provide the ability to bulk refine and craft resources. Ports also provide the ability to do ship upgrades. These bulk actions have a cost of excess resources. <em>These excess resources are distributed to Founder Token holders (more on this below).</em>
			</p>
			<h4>The Vastness of Space</h4>
			<p>
				Space in SFEOS is made up of connected nodes. A node is a three dimensional section of space. Most nodes are empty, while others include stargates, ports and/or planets. Ship stats determine how far and how fast a player can travel
				the nodes. Star maps are created by a ship’s scanner-array or purchased from others who have explored before them. Star maps allow a ship’s AI to travel to a destination on autopilot while the crew and captain slumber in suspended
				hibernation. The ship will still use fuel, but from the perspective of the player, the travel is almost instantaneous. Stargates come in pairs and can be locked or be programmed for one direction use. These gates allow for traveling
				between two unconnected nodes. Most stargates have a cost associated with their use. The owner of the stargate pair determines their configuration as well as the cost of using them.
			</p>
			<h4>Non-Ship Assets</h4>
			<p>
				Given enough resources, factions as well as individual players can build their own ports and stargates. They can terraform and colonize planets as well. Defenses will need to be put in place to protect these assets from any would-be
				predatory group. Players can work together and have shared resource pools that can be stored in ports and/or on the planet’s surface. Smart contracts can be put in place to manage the use of these resources.
			</p>
			<h4>Smart Contract Tokenized Economies and Dapps</h4>
			<p>
				Science fiction has often been a catalyst for future technology in the real world. We are planning on developing some of these real world disruptive smart contracts into this virtual universe. An example might be an Insurance smart
				contract for the wellbeing of their planet’s population. Players might pay into the contract on a monthly basis and be able to call in some type of aid at no additional charge if the need arises. We are hoping these in-game contracts
				will become showcases and possibly precursors to the real things. Iterating on an idea in a virtual universe would be much less expensive than doing so in the real world. Who knows, maybe players involved in using these in-game
				versions might go on to crowd found the real versions themselves… one can hope.
			</p>
		</div>
	</div>
</div>
