@{
    ViewData["Title"] = "What is SFEOS?";
}

<div class="container">
	<div class="row">
		<div class="col-md-12 col-xl-12">
			<div class="jumbotron">
				<h1>What is SFEOS?</h1>
				<h2>A Player Founded, Free to Play, Low Graphics, Highly Immersive, Turn Based, Science Fiction MMO built on the EOS Platform </h2>
				<p>
					SFEOS is initially envisioned as being an ongoing, low graphics, highly immersive, turn based, science fiction 
					MMO (Massively Multiplayer Online Game) running on 
					<a class="badge badge-pill badge-primary" href="https://eos.io/" target="_blank">The EOS Platform</a>.
					With SFEOS, the game’s economy is on center stage by tying together gameplay and player controlled cryptographic 
					blockchain assets. We are loosely following in the traditions of the old BBS game 
					<a class="badge badge-pill badge-primary" href="https://en.wikipedia.org/wiki/Trade_Wars" target="_blank">Trade Wars</a>. 
					The players of SFEOS take on the role of starship captains in a futuristic, sometimes utopian, sometimes dystopian, 
					universe. They are space pioneers who will mine resources to build
					fleets of generational colonizing starships. They will take up humanity’s quest to explore the unknown and create 
					bastians of safety and prosperity for all. Oh, and some of them will become low life space pirates.
				</p>
				<p><a class="btn btn-primary" role="button" href="@Url.Action("Subscribe", "About")">Sign up for Updates</a></p>
			</div>
		</div>
	</div>
	<div class="interface">
		<div class="row">
			<div class="col-lg-7">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Your Role as Starship Captain</h4>
						<p class="card-text">
							As a player you take on the role of a starship captain. You were created for this; literally your gene sequencing was specifically selected to make captaining a starship possible. Normal humans cannot take the stresses induced
							by interfacing with a starship’s AI systems. You are special, congratulations.
						</p>
						<h5>Your Starship</h5>
						<p class="card-text">
							You will start the game with a very basic, very small hulled (ie cheap) starship with a small crew. From there you can learn the ropes and determine what kind of player you want to be. This starting starship has all the necessary
							systems (Power Plant, Life Support, Shields, Scanner Array, External and Internal Holds, Crew Quarters, Mining and Fighter Drone Bays, Transporters as well as a Transforming Facilities [Refinery, Production, Research, Breeding]
							Bay) designed to get you on your way.
						</p>
						<h5>Your Own Style of Game</h5>
						<p class="card-text">
							Some players will focus on economics (mining, production and/or trade) and become the merchants of the stars. Others will focus on warfare (defending and/or attacking trade routes and resource hubs) and join a faction or hire
							themselves out as mercenaries. You can initially join one of two factions. This is a sandbox game with very few limitations once you move out into Non-Merikos Space.
						</p><a class="card-link text-success" href="@Url.Action("Gameplay", "About")">Learn more about Gameplay</a>
					</div>
				</div>
			</div>
			<div class="col-lg-5 col-xl-5">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">A Player Founded (ie Owned) Game </h4>
						<p class="card-text">
							Owning a game in the past meant you could install and play the game to your heart’s content. The game company who developed the game owned the actual Intellectual Property of the game. With SFEOS we are turning this on its
							head. Anyone who plays SFEOS has the opportunity to turn the assets they collect in the game into Founding Rights for the game. Being a Founder of the game entitles you to be a part of its ongoing continued design as well
							as having a part to play in its future direction. You can also be a part of the voting body who will have control of the IP of the game, some of which you might be hired to create if you have the ability and desire.
						</p>
						<p>
							As founders of the game, you can help determine what this game becomes, but we need a place to start. We need a “simple to develop” place to start, and that means a low tech, fun game to help lead us wherever it is we decide
							to go.
						</p><a class="card-link text-success" href="@Url.Action("CrowdFounding", "About")">What is Crowd Founding and How Does it Work?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>