
@{
    ViewData["Title"] = "Lore";
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron" style="border: solid; border-color: blue">
				<h1>Lore</h1>
				<h4>More Coming Soon</h4>
				<p>Note: We could use some short stories that would better flesh out this Lore. The writing of and acceptance of these stories as official IP of SFEOS could be worth Founding Tokens equal to 10 to 5000 bitUSD, depending on the quality and length.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-xl-10 offset-xl-1">
			<h3>Generation Zero</h3>
			<p>From Earth to the SFEOS Reboot and Generation Zero - <a href="https://steemit.com/games/@@sfeos/sfeos-game-the-player-owned-game-on-the-eos-platform-lore-part-1" target="_blank">Steemit Post</a></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-xl-10 offset-xl-1">
			<h3>A New World</h3>
			<p>The SFEOS Prime - <a href="https://steemit.com/sfeos/@@sfeos/a-new-world-lore-part-2" target="_blank">Steemit Post</a></p>
		</div>
	</div>
</div>

