
@{
    ViewData["Title"] = "Lore";
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron" style="border: solid; border-color: blue">
				<h1>Lore</h1>
				<h4>Coming Soon</h4>
				<p>Note: We could use some short stories that would better flesh out this Lore. The writing of and acceptance of these stories as official IP of SFEOS could be worth Founding Tokens equal to 10 to 5000 bitUSD, depending on the quality and length.</p>
			</div>
		</div>
	</div>
</div>

