
@{
    ViewData["Title"] = "Mission Plan";
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron" style="border-style: solid; border-color: blue">
				<div class="card card-disclaimer">
					<div class="card-body">
						<p>
							Everything contained in this document is in draft form and subject to change at any time and provided for information purposes only. We do not guarantee the accuracy of the information contained in this document and the information is provided “as is” with no representations or warranties, express or implied.
						</p>
					</div>
				</div>
				<h1>Mission Plan </h1>
				<h4>Developer Roadmap</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-xl-10 offset-xl-1">
			
			<h4>Phase 1 - The Orbital Space Station: Benevolence I </h4>
			<h5>(December 2017 - May 2018)</h5>
			<p>
				A base of operations for the governance that will exist to Crowd Found SFEOS. This will be the very basic, non-blockchain version of the system. Enough to get us started.
			</p>

			<h4>Phase 2 - The Construction of the Generational Starship, Meritocracy</h4>
			<h5>(June 2018 - November 2018)</h5>
			<p>
				A working Crowd Founding project management solution working with the EOS test network and production.
			</p>
			
			<h4>Phase 3 - Crew and Colony Boarding: The Voyage Begins</h4>
			<h5>(December 2018 - May 2019)</h5>
			<p>
				Founders will start to propose and fund the game.
			</p>

			<h4>Phase 4 - Arrival and Terraforming of SFEOS I</h4>
			<h5>(May 2019 - ?)</h5>
			<p>
				Alpha 0.1+ released for testing.
			</p>

			<h4>Phase 5 - Generation 0: Colonization Expansion</h4>
			<h5>(2019 or 2020)</h5>
			<p>
				1.0 released to public.
			</p>
		</div>
	</div>
</div>
