@{
    Layout = "_LayoutGame";
}

<div id="wrapper">
    <header>header</header>
    <main>
        <div></div>
        <div>
            <p>main</p>
        </div>
        <div></div>
    </main>
    <footer>
        <p>footer</p>
    </footer>
</div>