@{
    Layout = "_LayoutGame";
}

<div id="wrapper">
    <!-- <header>header</header> -->
    <main>
        <button v-if="!introStarted" v-on:click="startIntro">Begin</button>
        <darkness-to-light v-if="introStarted" v-on:show-ai-001-clicked="loadAi001"></darkness-to-light>
        <ai-001 v-if="showAi001" v-on:show-ai-002-clicked="loadAi002"></ai-001>
        <ai-002-captain-name v-if="showAi002"></ai-002-captain-name>
    </main>
    <!-- <footer>
        <p>footer</p>
    </footer> -->
</div>