/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #1a1a1a; }

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ------------- BODY ------------- */
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: whitesmoke; }

div#wrapper {
  background-color: #1a1a1a; }

/*  ------------- HAMBURGER -------------  */
.hamburger {
  padding-left: 2%;
  font-size: 2rem; }
  .hamburger a {
    color: white;
    text-decoration: none; }

/*  ------------- SOCIAL -------------  */
div.social {
  padding-right: 2%; }
  div.social a {
    font-size: 1.8rem;
    padding-left: .5rem;
    color: white; }
  div.social a:hover {
    color: #df3620; }

/*  ------------- HEADER -------------  */
header {
  color: #607625;
  padding: 1rem 2%; }
  header h1 {
    font-size: 2rem;
    font-weight: 500; }
  header h2 {
    font-size: 1.12rem;
    font-weight: 500; }

/*  ------------- NAV -------------  */
nav {
  background-color: #df3620;
  height: 100vh; }
  nav ul li a {
    display: block;
    text-align: center;
    margin: 0.5rem 2%;
    padding: .5rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    color: #607625;
    text-decoration: none; }
  nav ul li a:hover {
    color: white; }

/*  ------------- MAIN -------------  */
main {
  min-height: 500px;
  background-color: #1a1a1a;
  padding: 0 2%; }
  main p {
    padding-top: 1rem;
    line-height: 150%; }
  main p a {
    color: #df3620; }
  main div {
    padding-top: 1rem; }
  main h1 {
    font-size: 2rem;
    margin: 1.5rem 2% 0.5rem 2%;
    color: #607625; }
  main .ai-typing {
    color: #0dd5e4;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate; }

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #8eaabb, 0 0 20px #8eaabb, 0 0 30px #8eaabb, 0 0 40px #0dd5e4, 0 0 70px #0dd5e4, 0 0 80px #0dd5e4, 0 0 100px #0dd5e4, 0 0 150px #0dd5e4; }
  to {
    text-shadow: 0 0 5px #8eaabb, 0 0 10px #8eaabb, 0 0 15px #8eaabb, 0 0 20px #0dd5e4, 0 0 35px #0dd5e4, 0 0 40px #0dd5e4, 0 0 50px #0dd5e4, 0 0 75px #0dd5e4; } }
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #8eaabb, 0 0 20px #8eaabb, 0 0 30px #8eaabb, 0 0 40px #0dd5e4, 0 0 70px #0dd5e4, 0 0 80px #0dd5e4, 0 0 100px #0dd5e4, 0 0 150px #0dd5e4; }
  to {
    text-shadow: 0 0 5px #8eaabb, 0 0 10px #8eaabb, 0 0 15px #8eaabb, 0 0 20px #0dd5e4, 0 0 35px #0dd5e4, 0 0 40px #0dd5e4, 0 0 50px #0dd5e4, 0 0 75px #0dd5e4; } }
@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #8eaabb, 0 0 20px #8eaabb, 0 0 30px #8eaabb, 0 0 40px #0dd5e4, 0 0 70px #0dd5e4, 0 0 80px #0dd5e4, 0 0 100px #0dd5e4, 0 0 150px #0dd5e4; }
  to {
    text-shadow: 0 0 5px #8eaabb, 0 0 10px #8eaabb, 0 0 15px #8eaabb, 0 0 20px #0dd5e4, 0 0 35px #0dd5e4, 0 0 40px #0dd5e4, 0 0 50px #0dd5e4, 0 0 75px #0dd5e4; } }
/*  ------------- FOOTER -------------  */
footer p {
  text-align: center;
  color: #607625;
  padding: .75rem 0;
  font-size: .9rem; }
footer p a {
  color: #df3620; }

.fade-in-5 {
  -webkit-animation: fadein 5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s;
  /* Firefox < 16 */
  -ms-animation: fadein 5s;
  /* Internet Explorer */
  -o-animation: fadein 5s;
  /* Opera < 12.1 */
  animation: fadein 5s; }

.fade-in-10 {
  -webkit-animation: fadein 10s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 10s;
  /* Firefox < 16 */
  -ms-animation: fadein 10s;
  /* Internet Explorer */
  -o-animation: fadein 10s;
  /* Opera < 12.1 */
  animation: fadein 10s; }

.fade-in-20 {
  -webkit-animation: fadein 20s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 20s;
  /* Firefox < 16 */
  -ms-animation: fadein 20s;
  /* Internet Explorer */
  -o-animation: fadein 20s;
  /* Opera < 12.1 */
  animation: fadein 20s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media only screen and (min-width: 35em) {
  div#wrapper {
    display: grid; }

  main {
    padding: 0 6em; }

  /*  ------------- HAMBURGER -------------  */
  /*  ------------- NAV -------------  */
  nav {
    height: auto; }
    nav ul li {
      border-bottom: 1px solid #607625; }
    nav ul li a {
      border-radius: 0;
      background-color: transparent;
      margin: 0; } }
@media only screen and (min-width: 64em) {
  /*  ------------- NAV -------------  */
  nav {
    height: auto;
    padding-left: 2%; }
    nav ul li {
      width: auto;
      border-bottom: none;
      border-left: 1px solid #607625; }
    nav ul li:last-child {
      border-right: 1px solid #607625; } }

/*# sourceMappingURL=game.css.map */
