body {
  background-color:black;
  color: whitesmoke;
}

.jumbotron {
  background-image:url("../images/Galaxy-1.jpg");
  background-size:cover;
}

.interface .card {
  background-color:#000033;
  border-color:blue;
  height:100%;
}

.card-disclaimer {
	background-color: lightcyan;
	border-color: blue;
	height: 100%;
	color: black;
	font-size: 70%;
	margin-bottom: 20px;
}

	.card-disclaimer p {
		margin-bottom: 2px;
	}

	.card-disclaimer .card-body {
		padding: 0.75rem;
	}

.navbar .active {
  border-bottom:dashed;
}

