<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SFEOS - Game PoC</title>

	<link rel="stylesheet" href="~/css/game.css" />
</head>
<body>
    <div id="game-intro">
	@RenderBody()
    </div>

    <script src="~/lib/vue.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/game/components/darkness-to-light.js"></script>
    <script src="~/js/game/components/ai-001.js"></script>
    <script src="~/js/game/components/ai-002-captain-name.js"></script>
    <script src="~/js/game/game-intro.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
