<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SFEOS - @ViewData["Title"]</title>

	<link href="~/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/Navigation-Clean.css" rel="stylesheet" />
	<link href="~/css/sfeos-heading-022.css" rel="stylesheet" />
	<link href="~/css/styles.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<div>
		<nav class="navbar navbar-light navbar-expand-md navigation-clean">
			<div class="container">
				<a href="index.html" class="navbar-brand">The SFEOS Game</a>
				<button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
				<div class="collapse navbar-collapse"
					 id="navcol-1">
					<ul class="nav navbar-nav ml-auto">
						<li role="presentation" class="nav-item"><a href="gameplay.html" class="nav-link">Gameplay </a></li>
						<li role="presentation" class="nav-item"><a href="economy.html" class="nav-link">Economy </a></li>
						<li role="presentation" class="nav-item"><a href="lore.html" class="nav-link">Lore </a></li>
						<li role="presentation" class="nav-item"><a href="crowd-founding.html" class="nav-link">Crowd Founding</a></li>
						<li role="presentation" class="nav-item"><a href="mission-plan.html" class="nav-link">Mission Plan</a></li>
						<li class="dropdown">
							<a data-toggle="dropdown" aria-expanded="false" href="#" class="dropdown-toggle nav-link dropdown-toggle">Your Account</a>
							<div role="menu" class="dropdown-menu">
								<a role="presentation" href="#" class="dropdown-item">
									Notifications
								</a>
								<a role="presentation" href="#" class="dropdown-item">
									Your Assets
								</a>
								<a role="presentation" href="#" class="dropdown-item">
									Open Orders
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/css/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
