$primaryColor: #607625;
$secondaryColor:#df3620;
$fontColor: whitesmoke;
$fontColorDimmed: #878787;
$fontColorDimmer: #707070;
$backgroundColor: #1a1a1a;
$backgroundColorLighter: #3b4242;
$aiTyping: #0dd5e4;
$aiTypingGlow: #8eaabb;

$defaultFont: 'Lato', sans-serif;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);
